.ace-editor-wrapper {
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #DCDFE6;
}

.ace-editor-wrapper .ace-editor {
    border-radius: 4px;
    width: 100%;
}

.ace-editor-wrapper .ace-editor-tag {
    background-color: rgba(192, 204, 218, 0.31);
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 3px;
    z-index: 2;
    margin: 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 20px;
    color: #b0b6bf;
}