.ace-editor-wrapper {
    position: relative;
    min-height: 160px;
}

.ace-editor-wrapper {
    border-radius: 4px;
    /*border: 1px solid #DCDFE6;*/
    border: 1px solid #C0C4CC;
}

/*.ace-editor-wrapper:hover {
    border-color: #C0C4CC;
}

.ace-editor-wrapper:focus {
    border-color: #303133;
}*/

.ace-editor-wrapper .ace-editor {
    width: 100%;
}


.ace-editor-wrapper .ace-editor-tag {
    background-color: rgba(192, 204, 218, 0.31);
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 3px;
    z-index: 2;
    margin: 0;
    padding: 0 5px;
    line-height: 25px;
    color: #b0b6bf;
}