.container {
    height: 100%;
}

.container .side {
    background-color: #303133;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    z-index: 10;
    width: auto !important;
}

.side-container {
    height: 100%;
}

.side-header {
    background-color: rgba(0, 0, 0, 0.28);
    min-height: 60px;
}

.side-nav {
    padding: 0;
    width: 250px;
}

.side-nav::-webkit-scrollbar {
    background-color: #303133;
}

.side-header .logo-img {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 0;
}

.side-header .logo-img img {
    width: 100%;
    height: 100%;
}

.side-header .logo-text {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    margin-left: 5px;
}

.main {
    padding: 0;
}

/******* el-menu *******/
.el-menu {
    border-right: none;
    background-color: #303133;
}

.el-menu-item, .el-submenu__title {
    height: 50px;
    line-height: 50px;
    color: hsla(0, 0%, 100%, .65);
    font-weight: bold;
}

.el-menu-item:focus, .el-menu-item:hover, .el-submenu__title:focus, .el-submenu__title:hover {
    color: #fff;
    background-color: #38393b;
}

.el-menu-item.is-active {
    color: #ffba02;
    background-color: #4c4d51;
}

.el-menu-item i {
    color: inherit;
    font-weight: normal;
}

.el-menu .iconfont {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}

/** el-dialog__body **/
.el-dialog__body {
    height: 400px;
    overflow: auto
}

/*** framework ***/
.page {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.page-header {
    flex: none;
    /*background-color: #f5f7fa;*/
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 21, 41, 0.21);
    z-index: 3;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.page-header .page-title {
    display: inline-block;
    line-height: 50px;
    font-size: 18px;
    color: #303133;
    font-weight: normal;
}

.page-header .page-breadcrumb {
    display: inline-block;
    float: right;
    line-height: 50px;
}

.page-breadcrumb .el-breadcrumb {
    line-height: inherit;
}

.page-body {
    flex: auto;
    padding: 20px;
    overflow: auto;
    background-color: #fff;
}

.page-body-header {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    /*background: #f0f2f5;*/
    background-color: #fafafa;
    border-bottom: 1px solid #f0f2f5;
}

.page-body-footer {
    margin: 0 -20px -20px -20px;
    padding: 20px;
    /*background: #f0f2f5;*/
    background-color: #fafafa;
    border-top: 1px solid #f0f2f5;
}