<div style="display: flex;justify-content: center;align-items:center;height: 100%;background: linear-gradient(0deg, #0b4182 1%, #1e88e5 100%);background-attachment: fixed;">
    <el-card style="width: 450px">
        <div class="text-center" style="padding: 20px 0">
            <img src="/public/app/img/logo.png" style="width: 40px;height: 40px;vertical-align: bottom;display: inline-block;"/>
            <h1 style="display: inline-block;margin: 0;">BD Sandbox</h1>
        </div>
        <el-alert v-show="errorMsg" :title="errorMsg" :closable="false" type="error"></el-alert>
        <div class="spr spr-x"></div>
        <el-form>
            <el-form-item>
                <el-input placeholder="Account" v-model="account"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input type="password" placeholder="Password" v-model="password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" style="width: 100%" @click="login" :loading="loginProcessing">Log In</el-button>
            </el-form-item>
        </el-form>
        <div class="hr"></div>
        <div class="text-extra-light-silver text-center">杭州恩牛网络技术有限公司</div>
    </el-card>
</div>
