<div style="display: flex;justify-content: center;align-items:center;height: 100%;background: linear-gradient(0deg, #8a8a8a 1%, #dedede 100%);background-attachment: fixed;">
    <el-card style="width: 450px">
        <div class="text-center" style="padding: 20px 0">
            <img src="/public/app/img/logo.png" style="width: 60px;height: 60px;vertical-align: bottom;display: inline-block;"/>
            <span style="display: inline-block;font-weight:bold;font-size: 30px;margin-top: 30px">BeeScheduler</span>
        </div>
        <el-alert v-show="errorMsg" :title="errorMsg" :closable="false" type="error"></el-alert>
        <div class="spr spr-x"></div>
        <el-form>
            <el-form-item>
                <el-input placeholder="Account" v-model="account"></el-input>
            </el-form-item>
            <el-form-item>
                <el-input type="password" placeholder="Password" v-model="password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" style="width: 100%" @click="login" :loading="loginProcessing">Log In</el-button>
            </el-form-item>
        </el-form>
        <div class="text-extra-light-silver text-center">登录状态保持7天有效</div>
    </el-card>
</div>
