<div class="page">
    <div class="page-header">
        <div class="page-title"><i class="iconfont icon-settings"></i> 系统设置</div>
        <div class="page-breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{path:'/dashboard'}">Home</el-breadcrumb-item>
                <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
    </div>
    <div class="page-body">
        <div class="page-body-header">
            <span>BeeScheduler, version: v2.5.0</span>
        </div>
        <h4 class="no-margin">管理员账号</h4>
        <div class="hr"></div>
        <el-row>
            <el-col :span="12">
                <el-form class="form-label-muted" label-width="100px">
                    <el-form-item label="账号">{{passport.account}}</el-form-item>
                    <el-form-item label="原密码">
                        <el-input type="password" placeholder="old password" v-model="oldPassword"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码">
                        <el-input type="password" placeholder="new password" v-model="newPassword"></el-input>
                    </el-form-item>
                    <el-form-item label="确认密码">
                        <el-input type="password" placeholder="confirm new password" v-model="reNewPassword"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="updatePassword">更新密码</el-button>
                        <el-button @click="logout">退出登录</el-button>
                    </el-form-item>
                </el-form>
            </el-col>
        </el-row>
    </div>
</div>