pre.log {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    white-space: pre-wrap;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    font-family: "generic-font";
}

.info-item {
    margin: 10px 0;
}

.info-item .info-item-label, .info-item-content {
    display: inline-block;
}

.info-item .info-item-label {
    color: #99A9BF;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}