<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>Home</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">系统设置</div>
    </div>
    <div class="content-body">
        <div style="text-align: center;">
            <span style="color: #d3d5d9;font-size: 50px;">即将上线 : )</span>
        </div>
        <h4 class="no-margin">基本信息</h4>
        <div class="hr"></div>
        <el-form label-width="100px">
            <el-form-item label="系统版本"></el-form-item>
            <el-form-item label="实例ID"></el-form-item>
            <el-form-item label="是否待命模式"></el-form-item>
            <el-form-item label="是否集群"></el-form-item>
            <el-form-item label="线程池大小"></el-form-item>
        </el-form>
    </div>
</div>