<div class="content">
    <div class="content-header">
        <div class="breadcrumb">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item :to="{path:'/dashboard'}">Home</el-breadcrumb-item>
                <el-breadcrumb-item>调度中心</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="title">任务列表</div>
    </div>
    <div class="content-body">
        <el-form :inline="true" :model="queryFormModel">
            <el-form-item label="任务名">
                <el-input v-model="queryFormModel.name" placeholder=""></el-input>
            </el-form-item>
            <el-form-item label="任务组">
                <el-select v-model="queryFormModel.group" placeholder="" style="width: 150px">
                    <el-option label="全部" value=""></el-option>
                    <el-option v-for="item in taskGroups" :label="item" :value="item"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="queryFormModel.status" placeholder="" style="width: 100px">
                    <el-option label="全部" value="ALL"></el-option>
                    <el-option label="调度中" value="NORMAL"></el-option>
                    <el-option label="已暂停" value="PAUSED"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="query">查询</el-button>
            </el-form-item>
            <el-form-item>
                <el-button @click="newTaskDialogVisible = true">创建任务</el-button>
            </el-form-item>
        </el-form>

        <div v-loading="queryLoading">
            <template v-if="taskList.length == 0">
                <div class="box">
                    <div class="box-body">
                        <div class="text-center text-text-silver">暂无任务，立即
                            <el-button type="text" @click="newTaskDialogVisible = true">创建任务</el-button>
                        </div>
                    </div>
                </div>
            </template>
            <div class="spr"></div>
            <template v-for="item in taskList">
                <div class="box">
                    <div class="box-body">
                        <el-row>
                            <el-col :span="12">
                                <h3 class="no-margin" style="line-height: 34px">{{item.jobDetail.fullName}}<span class="text-gray">（{{item.jobComponent.name}}）</span></h3>
                            </el-col>
                            <el-col :span="12" class="text-right">
                                <el-button type="text" v-if="item.triggerState === 'NORMAL'" @click="pauseTask(item.jobDetail.name,item.jobDetail.group)">暂停</el-button>
                                <el-button type="text" v-if="item.triggerState === 'PAUSED'" @click="resumeTask(item.jobDetail.name,item.jobDetail.group)">恢复</el-button>
                                <el-button type="text" @click="executeTask(item.jobDetail.name,item.jobDetail.group)">执行</el-button>
                                <el-button type="text" @click="openEditTaskDialog(item.jobDetail.name,item.jobDetail.group)">编辑</el-button>
                                <el-button type="text" @click="deleteTask(item.jobDetail.name,item.jobDetail.group)">删除</el-button>
                            </el-col>
                        </el-row>
                        <div>
                            执行计划：{{item.trigger.cronExpression}}
                            <el-tag v-if="item.triggerState === 'NORMAL'" type="primary" close-transition>调度中，下次执行：{{$moment(item.trigger.nextFireTime).format("YYYY-MM-DD HH:mm:ss")}}</el-tag>
                            <el-tag v-if="item.triggerState === 'PAUSED'" type="danger" close-transition>已暂停</el-tag>
                        </div>
                    </div>
                    <div class="box-footer"><span class="text-silver">{{item.trigger.description||"无描述"}}</span></div>
                </div>
                <div class="spr"></div>
            </template>
        </div>


        <!--Dialogs-->
        <el-dialog title="新建任务" :visible.sync="newTaskDialogVisible">
            <el-form :model="newTaskFormModel" ref="newTaskForm" label-width="80px">
                <el-form-item label="Job组件" prop="jobComponent" :rules="validators.jobComponent">
                    <el-select v-model="newTaskFormModel.jobComponent" placeholder="请选择Job组件" style="width: 100%">
                        <el-option v-for="(item, key) in jobComponentList" :label="item.name" :value="key"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="任务名称" prop="name" :rules="validators.taskName">
                    <el-input v-model="newTaskFormModel.name"></el-input>
                </el-form-item>
                <el-form-item label="所属组" prop="group">
                    <el-input v-model="newTaskFormModel.group" placeholder="默认为DEFAULT"></el-input>
                </el-form-item>
                <el-form-item label="执行计划" prop="cron" :rules="validators.taskCron">
                    <el-input v-model="newTaskFormModel.cron" placeholder="请输入CRON表达式"></el-input>
                </el-form-item>
                <el-form-item label="任务参数" prop="params">
                    <div class="el-input-wrapper">
                        <ace-editor theme="eclipse" height="180" mode="json" :simpleStyle="true" ref="newTaskParamEditor" v-model="newTaskFormModel.params"></ace-editor>
                    </div>
                </el-form-item>
                <el-form-item label="任务描述" prop="description">
                    <el-input type="textarea" v-model="newTaskFormModel.description" placeholder="请详细描述该任务"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="newTaskDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="postNewTask" :loading="postNewTaskInProcess">保 存</el-button>
            </div>
        </el-dialog>
        <el-dialog title="编辑任务" :visible.sync="editTaskDialogVisible">
            <el-form :model="editTaskFormModel" ref="editTaskForm" label-width="80px" v-loading="editTaskDialogLoading">
                <el-form-item label="Job组件" prop="jobComponent" :rules="validators.jobComponent">
                    <el-input v-model="editTaskFormModel.jobComponent" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="任务名称" prop="name" :rules="validators.taskName">
                    <el-input v-model="editTaskFormModel.name" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="所属组" prop="group">
                    <el-input v-model="editTaskFormModel.group" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="执行计划" prop="cron" :rules="validators.taskCron">
                    <el-input v-model="editTaskFormModel.cron" placeholder="请输入CRON表达式"></el-input>
                </el-form-item>
                <el-form-item label="任务参数" prop="params">
                    <div class="el-input-wrapper">
                        <ace-editor theme="eclipse" height="180" mode="json" :simpleStyle="true" ref="editTaskParamEditor" v-model="editTaskFormModel.params"></ace-editor>
                    </div>
                </el-form-item>
                <el-form-item label="任务描述" prop="description">
                    <el-input type="textarea" v-model="editTaskFormModel.description" placeholder="请详细描述该任务"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="editTaskDialogVisible = false" :disabled="editTaskDialogLoading">取 消</el-button>
                <el-button type="primary" @click="postEditTask" :disabled="editTaskDialogLoading" :loading="postEditTaskInProcess">保 存</el-button>
            </div>
        </el-dialog>
    </div>
</div>