<div>
    <div class="box bg-darkwhite">
        <div class="box-body">
            <el-form class="no-item-margin" :inline="true" :model="queryModel" label-width="70px">
                <el-row>
                    <el-col :span="24">
                        <el-form-item label="品牌名称" prop="proId">
                            <el-input size="small" v-model="queryModel.name" placeholder="品牌名称" style="width: 300px"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button size="small" type="primary" @click="query">查询</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
    <div class="spr"></div>
    <div v-loading="queryLoading">
        <el-table :data="queryResult.recordList" @selection-change="setSelectedItems" ref="searchResultTable">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column prop="id" label="品牌ID" width="80"></el-table-column>
            <el-table-column prop="name" label="品牌名称"></el-table-column>
        </el-table>
        <template v-if="queryResult.recordList && queryResult.recordList.length > 0">
            <div class="spr"></div>
            <div>
                <el-pagination class="no-padding pull-right" @current-change="changePage" :current-page="queryResult.pageNum" :page-size="queryResult.pageSize" layout="total, prev, pager, next" :total="queryResult.recordCount"></el-pagination>
                <el-button type="primary" size="small" @click="handleSelectedItems" :disabled="selectedItems.length<=0">{{handleBtnLabel}}</el-button>
            </div>
        </template>
    </div>
</div>