<div>
    <template v-if="queryResult.length > 0">
        <el-checkbox-group v-loading="queryLoading" v-model="selectedItems">
            <el-row>
                <el-col :span="6" v-for="item in queryResult">
                    <el-checkbox :label="item">{{item.name}}</el-checkbox>
                </el-col>
            </el-row>
        </el-checkbox-group>
    </template>
    <template v-else>
        <div class="text-center" style="border: 1px solid #eee;padding: 30px;font-size: 16px;color: #5e7382">暂无数据</div>
    </template>
    <div class="spr"></div>
    <el-button type="primary" size="small" @click="handleSelectedItems" :disabled="selectedItems.length<=0">{{handleBtnLabel}}</el-button>
</div>