<el-tabs v-model="activeSearcherType">
    <el-tab-pane v-if="searcherVisiable('PRODUCT')" label="商品" name="PRODUCT">
        <product-searcher ref="productSearcher" :handle-btn-label="handleBtnLabel" @handle="handleProductSelectedItems"></product-searcher>
    </el-tab-pane>
    <el-tab-pane v-if="searcherVisiable('BRAND')" label="品牌" name="BRAND">
        <brand-searcher ref="brandSearcher" :handle-btn-label="handleBtnLabel" @handle="handleBrandSelectedItems"></brand-searcher>
    </el-tab-pane>
    <el-tab-pane v-if="searcherVisiable('CATEGORY')" label="品类" name="CATEGORY">
        <category-searcher ref="categorySearcher" :handle-btn-label="handleBtnLabel" @handle="handleCategorySelectedItems"></category-searcher>
    </el-tab-pane>
    <el-tab-pane v-if="searcherVisiable('WHOLE_STORE')" label="全场" name="WHOLE_STORE">
        <div class="text-extra-light-silver" style="line-height: 50px;border: 1px solid #eee;padding: 15px 30px;font-size: 16px;"><i class="el-icon-check"></i> 全场商品</div>
        <div class="spr"></div>
        <el-button type="primary" size="small" @click="handleWholeSelectedItems">{{handleBtnLabel}}</el-button>
    </el-tab-pane>
</el-tabs>