<div>
    <template v-if="options.scopeItem">
        <el-form-item label="促销平台" prop="scopes" :rules="validators.scopes">
            <el-checkbox-group class="small" v-model="inputModel.scopes">
                <el-checkbox label="PC">官网</el-checkbox>
                <el-checkbox label="APP">APP</el-checkbox>
                <el-checkbox label="WAP">WAP</el-checkbox>
            </el-checkbox-group>
        </el-form-item>
    </template>
    <!--    <template v-else>
            <el-form-item label="促销平台">
                <el-checkbox label="全平台" disabled="true" checked="true"></el-checkbox>
            </el-form-item>
        </template>-->
    <template v-if="options.nameItem">
        <el-form-item label="促销名称" prop="name" :rules="validators.name">
            <el-input size="small" v-model="inputModel.name" placeholder="促销名称，不超过50个字符" maxlength="50"></el-input>
        </el-form-item>
    </template>
    <template v-if="options.linkItem">
        <el-form-item label="链接名称" prop="linkName" :rules="validators.linkName">
            <el-popover placement="right" width="200" trigger="focus" content="链接名称和链接地址需同时设置或不设置">
                <el-input size="small" v-model="inputModel.linkName" maxlength="50" slot="reference"></el-input>
            </el-popover>
        </el-form-item>
        <el-form-item label="链接地址" prop="linkUrl" :rules="validators.linkUrl">
            <el-popover placement="right" width="200" trigger="focus" content="目前链接地址供PC端详情页使用，移动端自动读取关联商品">
                <el-input size="small" v-model="inputModel.linkUrl" maxlength="50" slot="reference"></el-input>
            </el-popover>
        </el-form-item>
    </template>
    <template v-if="options.remarkItem">
        <el-form-item label="活动标识" prop="remark">
            <el-input size="small" v-model="inputModel.remark" maxlength="50"></el-input>
        </el-form-item>
    </template>
    <el-form-item label="促销标签" prop="labelId" :rules="validators.labelId">
        <el-select size="small" v-model="inputModel.labelId" placeholder="请选择促销标签">
            <el-option v-for="item in options.labelList" :label="item.label" :value="item.value"></el-option>
        </el-select>
    </el-form-item>
    <!--<el-form-item label="活动时间" prop="time" :rules="validators.time">
        <el-date-picker size="small" v-model="inputModel.time" type="datetimerange" :picker-options="datePickerOptions" placeholder="选择时间范围" :editable="false" range-separator=" 至 "></el-date-picker>
    </el-form-item>-->
    <el-form-item label="活动时间" required>
        <el-row style="width: 500px;">
            <el-col :span="11">
                <el-form-item prop="promoStartTime" :rules="validators.promoStartTime">
                    <el-date-picker size="small" type="datetime" v-model="inputModel.promoStartTime" placeholder="选择日期时间" style="width: 100%"></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :span="2" style="text-align: center">至</el-col>
            <el-col :span="11">
                <el-form-item prop="promoEndTime" :rules="validators.promoEndTime">
                    <el-date-picker size="small" type="datetime" v-model="inputModel.promoEndTime" placeholder="选择日期时间" style="width: 100%"></el-date-picker>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form-item>
</div>