/******* overwrite element-ui *******/
.el-message, .el-notification {
    z-index: 3001 !important;
    /*top: 45%;*/
    /*-ms-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-50%) translateY(-50%);*/
}

.el-menu {
    border-radius: 0;
    /*background-color: #ffffff;*/
}

.el-message {
    top: 10px;
}